extends ../node_modules/jade-bootstrap/_bootstrap
head
  title=title
block body
  +navbar("SWEN303", "dropdown_menu")
    +nav_item("/") Home
    +nav_item("/browse", "active") Browse
  .container
    h1 #{title}
    p Welcome to #{title}. A collection of documents!

  .container
    s
    if folders.length == 0
      a(href='/browse') home

    if folders.length > 0
      h3 folders
      each folder in folders
        a(href='/browse?path=' + folder) #{folder}
        br

    if files != undefined
      if path.length > 1
        h3 files in #{path}
      else
        h3 files
      each file in files
        a(href='view?path=' + path + file) #{file}
        br

    br
    form(action="/upload?path=" + path, method="post", enctype="multipart/form-data")
      input(type="file", name="file")
      button(type="submit") Upload