extends ../node_modules/jade-bootstrap/_bootstrap
head
  title=title
block body
  +navbar("SWEN303", "dropdown_menu")
    +nav_item("/", "active") Home
    +nav_item("/browse") Browse
  .container
    h1 #{title}
    p Welcome to #{title}. A collection of documents!

  .container
    if folders != undefined
      h3 folders
      each folder in folders
        a(href='browse?path=' + folder) #{folder}
        br

    br

    if files != undefined
      if path.length > 0
        h3 files in #{path}
      else
        h3 files
      each file in files
        a(href='view?path=' + file) #{file}