extends ../node_modules/jade-bootstrap/_bootstrap
head
  title=title
block body
  +navbar("SWEN303", "dropdown_menu")
    +nav_item("/") Search
    +nav_item("/browse", "active") Browse
  .container
    h1 #{title}
    if path.length > 1
      h4 Choose a file to add to folder #{path}
    else
      h4 Choose a file to add to database root

    form(action="/upload?path=" + path, method="post", enctype="multipart/form-data")
      input(type="file", name="file")
      button(type="submit") Upload

  .container
    s
    if path.length > 1
      br
      a(href='/browse') Return to root level

    if folders.length > 0
      h3 folders
      each folder in folders
        a(href='/browse?path=' + folder) #{folder}
        br

    if files != undefined
      if path.length > 1
        h3 files in #{path}
      else
        h3 files
      each file in files
        a(href='view?path=' + path + file) #{file}
        br