extends ../node_modules/jade-bootstrap/_bootstrap
head
  title=title
block body
  +navbar("SWEN303", "dropdown_menu")
    +nav_item("/", "active") Search
    +nav_item("/browse") Browse

  .container
    h1 Search for '#{search}'
    a(href='/') Start new search
    br
    form.form-group(action="/subsearch", method="get")
      input.input-block-level(type="text", name="query", placeholder="Query")
      button.btn.btn-large(type="submit", name="place", value="1") Refine Search

  .container
    if search_result.length > 0
      if total > 1
        p #{total} results found
      else
        p #{total} result found
      if total > 10
        p showing #{first} to #{last}
      if first > 1
        a(href='/textsearch?query=' + search + '&place=' + prev) previous <
        span -
      if last < total
        a(href='/textsearch?query=' + search + '&place=' + next) > next
      ul
        each file in search_result
          li
            a(href='view?path='+file.path)  #{file.title}
            p #{file.author}, #{file.date}
            a(href='edit?path='+file.path) edit
    else
      p no results sorry!